{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% assign plans = page.plans %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_text or feature_image %}
<!--  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>-->
  <div class="feature">
    <div class="container typeset">
      <div class="hero">
        {{ feature_text | markdownify }}
      </div>
    </div>

    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-sm-4">
          <img alt="angular-classes" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
          <h3>Angular 6/Angular 7/Angular 8</h3>
          <p>1 Month course</p>
        </div>
        <div class="col-sm-4">
          <img alt="nodejs-classes" src="https://nodejs.org/static/images/logo.svg">
          <h3>NodeJs</h3>
          <p>1 Month course</p>
        </div>
        <div class="col-sm-4">
          <img alt="javascript-classes" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png">
          <h3>JavaScript</h3>
          <p>1 Month course</p>
        </div>
      </div>
    </div>

    <div class="container typeset">
      <div class="table">
        {{ plans | markdownify }}
      </div>
    </div>
  </div>
{% endif %}
