---
title: false
styles: true
---

@import "alembic";
$primary: #ff5959;

a,a:hover {
  color: $primary;
}

.nav a {
  font-size: 0.79em;
  font-weight: bold;
}

.logo img {
  width: 100px;
}

.typeset pre {
  overflow-x: auto;
}

.typeset code, .typeset pre {
  background-color: #efefef;
  line-height: 1.2rem;
  font-size: 0.85em;
}

.home-tiles {
  margin-top: 1rem;
  text-align: left;
  .item--post {
    border-radius: 2px;
    padding: 0 1%;
    background: #fafafa;
    font-size: 1rem;
    box-shadow: 1px 1px 1px #ddd;
    margin-bottom: 15px;
    .typeset small {
      padding: 0;
      font-size: 0.7rem;
      a {
        color: #333;
        background: none;
        text-decoration: underline;
      }
    }
    h2 {
      font-size: 1.2rem;
      line-height: initial;
      margin: 0;
      a,a:hover {
        color: #222;
        background: none;
        text-decoration: underline;
      }
    }
    .item--post::hover {
      background: #eee;
      box-shadow: 1px 1px 1px #ccc;
      transition: all 0.9s;
    }
  }
}

.feature {
  background: #fff;

  .hero {
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 0;
  }
  .table {
    padding: 5px;
     th, td {
       border: 1px solid #ddd;
       background: #fafafa;
       padding: 10px;
       font-size: 0.8rem;
     }
  }

  tr th:first-child + th + th,
  tr td:first-child + td + td {
    background: #05bf85;
    color: #fff;
    font-size: .95rem;
    text-align: center;
    max-width: 250px;
    box-shadow: -1px 2px 5px 2px #aaa;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  h1 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }

  width: 90%;
  margin: auto;
  .col-sm-4 {
    width: 23%;
    margin: 0 5px;
    float: left;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1),
    0 3px 1px 0 rgba(20,23,28,.1);

    .body {
      text-align: left;
      padding: 15px;
      font-size: 12px;
      line-height: initial;
      position: relative;
      height: 225px;

      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 15px;
        margin-top: 10px;
      }

      .footer {
        height: 35px;
        padding: 10px;
        background: $primary;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .col-sm-4:hover {
    box-shadow: 0 0 2px 2px rgba(20,23,28,.25),
    0 4px 1px 0 rgba(20,23,28,.25);
    transition: all 0.9s;
  }

}

.img-holder {
  background: #d5d5d5;
  padding-top: 10px;
  height: 70px;
  position: relative;

  img {
    height: 50px;
  }

  .highlight {
    position: absolute;
    left: 0;
    top: 10px;
    background: #f4c150;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    width: 65px;
    line-height: normal;
    box-shadow: 1px 1px 3px #aaa;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
  }
}

.article--page h1 {
  display: none;
}

@media screen and (max-width: 760px) {
  .container-fluid .col-sm-4 {
    float: none;
    width: 90%;
    margin-bottom: 15px;
  }
}
