---
title: false
styles: true
---

@import "alembic";
$primary: #ff5959;

a,a:hover {
  color: $primary;
}

.nav a {
  font-size: 0.79em;
  font-weight: bold;
}

.logo img {
  width: 100px;
}

.typeset pre {
  overflow-x: auto;
}

.plans {
  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center !important;
  }

  .description {
    font-size: 0.8rem;
  }

  .col-md-6 {
    width: 300px;
    margin: 15px;
    display: inline-block;
    max-height: 500px;
    text-align: center;
  }
  
  .card {
    font-size: 1rem;
    height: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #666;
  }
  .card:hover {
    border: 1px solid $focusColour;
    transition: all 0.9s;
  }
  
  .card-header {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1rem;
      .title {
        font-size: 1em;
        font-weight: 400;
        span {
          color: $focusColour;
        }
      }
  
      .price {
        font-size: 1.5em;
        color: $focusColour;
        margin: 0 auto;
        padding: 5px 0 10px 0;
        span {
          font-size: .5em;
          color: inherit;
        }
      }
    }
  
  .features {
    height: 70%;
    text-align: left;
    list-style: none;
    padding: 1rem;
    li {
      font-size: 0.88em;
    }
  }
  
  .line {
    width: 33.33%;
    margin: 10px auto 0;
    height: 2px;
    background-color: $focusColour;
  }
  
  .btn {
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: $focusColour;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
    &:hover {
      background-color: $focusColour;
    }
  }

}

.typeset code, .typeset pre {
  background-color: $boxColour;
  line-height: 1.2rem;
  border-radius: 10px;
  width: 100%;
  display: block;
  padding: 1%;
}

.home-tiles {
  margin-top: 1rem;
  text-align: left;
  .item--post {
    border-radius: 10px;
    padding: .5% 2%;
    background: #2d373a;
    font-size: 1rem;
    margin-bottom: 3%;
    .typeset small {
      padding: 0;
      font-size: 0.7rem;
      a {
        color: #333;
        background: none;
        text-decoration: underline;
      }
    }
    .article {
      img {
        max-width: 200px;
      }
    }
    h1 {
      font-size: 1.55rem;
    }
    h2 {
      font-size: 2.35rem;
      line-height: initial;
      margin: 0;
      a,a:hover {
        color: $featureBackgroundColour;
        background: none;
        text-decoration: underline;
      }
    }
    .item--post::hover {
      background: #eee;
      box-shadow: 1px 1px 1px #ccc;
      transition: all 0.9s;
    }
  }
}

.feature {

  // background-image: url('/assets/binary-1254502_960_720.png');
  // height: 500px;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  
  background: none !important;
  .hero {
    margin-bottom: 2rem;
  }

  .hero p {
    line-height: 1.4rem;
    margin: 0;
  }
  .table {
    padding: 5px;
     th, td {
       border: 1px solid #ddd;
       background: #fafafa;
       padding: 10px;
       font-size: 0.8rem;
     }
  }

  tr th:first-child + th + th,
  tr td:first-child + td + td {
    background: #05bf85;
    color: #fff;
    font-size: .95rem;
    text-align: center;
    max-width: 250px;
    box-shadow: -1px 2px 5px 2px #aaa;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  h1 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }

  width: 90%;
  margin: auto;
  .col-sm-4 {
    width: 23%;
    margin: 0 5px;
    float: left;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1),
    0 3px 1px 0 rgba(20,23,28,.1);

    .body {
      text-align: left;
      padding: 15px;
      font-size: 12px;
      line-height: initial;
      position: relative;
      height: 225px;

      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 15px;
        margin-top: 10px;
      }

      .footer {
        height: 35px;
        padding: 10px;
        background: $primary;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .col-sm-4:hover {
    box-shadow: 0 0 2px 2px rgba(20,23,28,.25),
    0 4px 1px 0 rgba(20,23,28,.25);
    transition: all 0.9s;
  }

}

.img-holder {
  background: #d5d5d5;
  padding-top: 10px;
  height: 70px;
  position: relative;

  img {
    height: 50px;
  }

  .highlight {
    position: absolute;
    left: 0;
    top: 10px;
    background: #f4c150;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    width: 65px;
    line-height: normal;
    box-shadow: 1px 1px 3px #aaa;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
  }
}

.width-100 {
  width: 100% !important;
  object-fit: cover;
  max-height: 250px;
  height: 100%;
  max-width: 1200px !important;
  border-radius: 10px;
}

.article--page h1 {
  display: none;
}

@media screen and (max-width: 760px) {
  .container-fluid .col-sm-4 {
    float: none;
    width: 90%;
    margin-bottom: 15px;
  }
}

// bundle exec jekyll serve -w --force_polling